<!-- <nav class="navbar">
    <div class="logo">
        <a href="#">{{ my_list[0] }}</a>
    </div>
    <ul class="nav-links">
        <li><a href="#">{{ my_list[1] }}</a></li>
        <li><a href="#">{{ my_list[2] }}</a></li>
        <li><a href="#">{{ my_list[3] }}</a></li>
        <li><a href="#">{{ my_list[4] }}</a></li>
    </ul>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav> -->
<nav id="navbar-example2" class="navbar sticky-top bg-light px-3 mb-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#welcome">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about-me">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contacts">Contacts</a>
        </li>
    </ul>
</nav>
